<ion-view view-title="Home">
    <ion-content>

        <div class="bar bar-header bar-calm-900" style="position: static;">
            <div class="buttons buttons-left header-item">
                    <span class="left-buttons">
                        <button class="button button-icon button-clear ion-navicon">
                        </button>
                    </span>
            </div>
            <div class="h1 title title-left light">Header Icons + Fab</div>
            <div class="buttons buttons-right header-item">
                    <span class="right-buttons">
                        <button class="button button-balanced button-fab">
                            <i class="icon ion-star"></i>
                        </button>
                    </span>
            </div>
        </div>


        <h1 class="title">Home</h1>
        Hola mundo
        <button ng-click="home_msg()" >mensaje</button>

        <ion-spinner icon="lines" class="spinner-calm"></ion-spinner>
    </ion-content>
</ion-view>
